/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
.gitattributes
CONTRIBUTING.md
app/config/database.php
artisan
bootstrap/
dbbackup/
phpunit.xml
public/uploads/
readme.md
server.php
misc/
artisan.bat
/scoreboard.zip
app/config/local/
